<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/_header :: header}"></head>

<body>

<nav th:replace="~{fragments/_header :: navbar}"></nav>

<div class="container mt-4">

    <h1 th:if="${filial.id == null}">Cadastrar Nova Filial</h1>
    <h1 th:unless="${filial.id == null}">Editar Filial</h1>
    <hr>

    <form th:action="@{/filiais}" th:object="${filial}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" th:field="*{nome}">
            <div class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
        </div>
        <div class="mb-3">
            <label for="endereco" class="form-label">Endereço</label>
            <input type="text" class="form-control" th:field="*{endereco}">
            <div class="text-danger" th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"></div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="cidade" class="form-label">Cidade</label>
                <input type="text" class="form-control" th:field="*{cidade}">
                <div class="text-danger" th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></div>
            </div>
            <div class="col">
                <label for="siglaEstado" class="form-label">Estado (UF)</label>
                <input type="text" class="form-control" th:field="*{siglaEstado}" maxlength="2">
                <div class="text-danger" th:if="${#fields.hasErrors('siglaEstado')}" th:errors="*{siglaEstado}"></div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="numeroLinha" class="form-label">Linhas no Pátio</label>
                <input type="number" class="form-control" th:field="*{numeroLinha}">
                <div class="text-danger" th:if="${#fields.hasErrors('numeroLinha')}" th:errors="*{numeroLinha}"></div>
            </div>
            <div class="col">
                <label for="numeroColuna" class="form-label">Colunas no Pátio</label>
                <input type="number" class="form-control" th:field="*{numeroColuna}">
                <div class="text-danger" th:if="${#fields.hasErrors('numeroColuna')}" th:errors="*{numeroColuna}"></div>
            </div>
            <div class="col">
                <label for="capacidadeMaxima" class="form-label">Capacidade Máxima</label>
                <input type="number" class="form-control" th:field="*{capacidadeMaxima}">
                <div class="text-danger" th:if="${#fields.hasErrors('capacidadeMaxima')}" th:errors="*{capacidadeMaxima}"></div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a th:href="@{/filiais}" class="btn btn-secondary">Cancelar</a>
    </form>

</div>

<footer th:replace="~{fragments/_footer :: footer}"></footer>

</body>
</html>