<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/_header :: header}"></head>

<body>

<nav th:replace="~{fragments/_header :: navbar}"></nav>

<div class="container mt-4">
    <h1 th:if="${moto.id == null}">Cadastrar Nova Moto</h1>
    <h1 th:unless="${moto.id == null}">Editar Moto</h1>
    <hr>

    <form th:action="@{/motos}" th:object="${moto}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="placa" class="form-label">Placa</label>
            <input type="text" class="form-control" th:field="*{placa}">
            <div class="text-danger" th:if="${#fields.hasErrors('placa')}" th:errors="*{placa}"></div>
        </div>
        <div class="mb-3">
            <label for="chassi" class="form-label">Chassi</label>
            <input type="text" class="form-control" th:field="*{chassi}">
            <div class="text-danger" th:if="${#fields.hasErrors('chassi')}" th:errors="*{chassi}"></div>
        </div>
        <div class="mb-3">
            <label for="modeloMoto" class="form-label">Modelo</label>
            <select class="form-select" th:field="*{modeloMoto}">
                <option th:each="modelo : ${T(br.com.fiap.mottomap.model.ModeloMoto).values()}"
                        th:value="${modelo}" th:text="${modelo}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="ano" class="form-label">Ano</label>
            <input type="number" class="form-control" th:field="*{ano}">
            <div class="text-danger" th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}"></div>
        </div>
        <div class="mb-3">
            <label for="statusMoto" class="form-label">Status</label>
            <select class="form-select" th:field="*{statusMoto}">
                <option th:each="status : ${T(br.com.fiap.mottomap.model.StatusMoto).values()}"
                        th:value="${status}" th:text="${status}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="filial" class="form-label">Filial</label>

            <div th:if="${filiais != null}">
                <select class="form-select" th:field="*{filial}" required>
                    <option th:each="f : ${filiais}"
                            th:value="${f.id}" th:text="${f.nome}"></option>
                </select>
            </div>

            <div th:if="${filiais == null}">
                <input type="text" class="form-control" th:value="${moto.filial?.nome}" readonly />
                <input type="hidden" th:field="*{filial}" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a th:href="@{/motos}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

<footer th:replace="~{fragments/_footer :: footer}"></footer>

</body>
</html>